[Unit]
Description=Daily host status check timer
Requires=cryptex-status-alert.service

[Timer]
OnCalendar=*-*-* 07:23:00
Persistent=true

[Install]
WantedBy=timers.target
